/* boton scroll-top */
.scroll-top-btn {
  position: fixed;
  z-index: 4;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: #f7df1e;
  color: #222;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: #222;
  color: #f7df1e;
}
